.header2 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../images/RegisterNew.png");
  background-size: cover;
}

.lContainer1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 800px;
  margin-top: 200px;

}